@CHARSET "UTF-8";
#mainBody {
    background: url("./data/firstpage2.jpg");
	height:768px;
  	padding-top: 552px;
	padding-left: 244px;
	background-repeat:no-repeat  50% 50%; 
	
}
h1 {    
    color: #FBF6FD;
    font-size: 60px;
}
#gallery {
   
    
	
    overflow: visible;
	/*
	border: 10px solid #feeeed;
    background: #00ae9d;
	*/
   
}
#gallery ul{
    /* This position the ul content in the middle of the gallery*/
    margin-left:-30px; 
    }
#gallery ul li {
    /* In order to create the proper effect with hover we should use display inline-table
       This will display the big picture right next to its thumbnail
    */
    list-style:none; display:inline-table;
    }
/* This is the pic to display when the hover action occur over the li that contains the thumbnail  */
#gallery ul li .pic{
   
    opacity:0;
    visibility:hidden; 
    position:absolute; 
    margin-top:-10px; 
    margin-left:-90px; 
   
}
#gallery ul li .mini {
	width:80px;
	height:80px;
}
#gallery ul li .mini:hover{
    cursor:pointer;
	
}
/* This create the desired effect of showing the imagen when we mouseover the thumbnail*/
#gallery ul li:hover .pic {
    /* width and height is how much the picture is going to growth with the effect */
    width:100px; 
    height:120px;
    opacity:1; 
    visibility:visible; 
    float:right;
}
 